:root {
	/* ### Primary */

	--Dark-cyan: hsl(185, 75%, 39%);
	--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
	--Dark-grayish-blue: hsl(227, 10%, 46%);

	/* ### Neutral */

	--Dark-gray: hsl(0, 0%, 59%);
}

@font-face {
	font-family: medium;
	src: url(../fonts/Kumbh_Sans/static/KumbhSans-Medium.ttf);
}

@font-face {
	font-family: bold;
	src: url(../fonts/Kumbh_Sans/static/KumbhSans-Bold.ttf);
}

@font-face {
	font-family: light;
	src: url(../fonts/Kumbh_Sans/static/KumbhSans-Light.ttf);
}


body {
	background-color: var(--Dark-cyan);
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
	background-repeat: no-repeat;
	background-position: right 50vw bottom 25vh, left 40vw top 40vh;
}

main {
	height: fit-content;
	max-width: 440px;
	width: 100%;
	box-shadow: 12px 7px 20px 6px rgb(57 75 84 / 8%);
	border-radius: 15px;
	background-color: white;
}

.main-card-img {
	max-width: 500px;
	width: 100%;
	border-radius: 15px 15px 0px 0px;
}

.user-photo-area {
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 65px;
}

.user-photo {
	width: 25%;
	height: 25%;
	border-radius: 50%;
	border: 2px solid white;
}

.user-info {
	display: flex;
}

.profile-info {
	display: flex;
	margin: 30px auto;
	justify-content: center;
}

.number {
	text-align: center;
	font-family: bold;
	font-size: 20px;
}

.followers,
.likes,
.photos {
	font-family: light;
	color: var(--Dark-gray);
	margin-top: 8px;
	font-size: 14px;
	text-align: center;
}

.followers-area {
	margin: auto 15% auto 10%;
}

.photos-area {
	margin: auto 10% auto 15%;
}

.user-info {
	justify-content: center;
	position: relative;
	bottom: 35px;
}

.user-name {
	font-size: 18px;
	font-family: medium;
}

span {
	font-family: 'light';
	font-size: 16px;
	margin-left: 10px;
	color: var(--Dark-gray);
}

.city {
	text-align: center;
	position: relative;
	bottom: 20px;
	font-family: 'light';
	color: var(--Dark-grayish-blue);
}